{% extends "base.html" %}

{% block css %}
<link rel= "stylesheet" href='/static/css/profile.css'>
{% endblock %}
{% block main %}
<h1>
    Profile
</h1>

<body>
    <div id="picture">
                <img style= height:"200" src= "/static/Macbook.jpg"> 
            </div>
    <div id="info">
        <div id="apple">
            Apple Computer
        </div>
        <div id="inside">
            <div id="date">
                <p>Today's date is {{ thedate }}</p>
            </div>
            
            <div id="Name">
                <p><b>Username:</b> MacBook</p>
                <p><b>ID Number:</b> 123456789 </p>
                <p><b>Age:</b> 22</p>
                <p><b>Gender:</b> Female</p>
            </div>
            <div id="long">
                I am a long lasting machine
            </div>
        </div>    
    </div>
    
    {% endblock %}

