{% extends "base.html" %}

{% block css %}
<link rel= "stylesheet" href='/static/css/profile.css'>
{% endblock %}
{% block main %}
<h1>Profile</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success">
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% endwith %}
    
<body>
    <ul class="list">
        {% for profile in profiles %}
        <li> <a href="{{ url_for('idprofile', userid= profile.id) }}">{{ profile.username }}</a> </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}